#adapter-container {
    font-size: 1em;
}

.full-width {
    width: 100% !important;
}

.auto-height {
    height: auto;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-grow {
    flex-grow: 1;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-space-between {
    justify-content: space-between
}

.flex-panel {
    padding: 5px;
    margin: 5px;
    border: 1px solid #2086bf;
}

.flex-panel > .caption {
    background: #2086bf;
    margin: -5px -5px 5px -5px;
    padding: 5px;
    font-weight: bold;
    color: white;
}


.bg-white {
    background: whitesmoke;
}

.edit-hint {
    color: #999999;
    font-size: 0.9em;
    padding-left: 1em;
    font-style: italic;
}

.characteristic-table {
    width: 100%;
    margin: .625rem 0;
}

.characteristic-table tr:not(:last-child) { 
    height: fit-content;
 }

.characteristic-table th {
    padding: 0.5em 4px 0.5em 4px;
    font-weight: bold;
    background: gainsboro;
}

.characteristic-table tbody td {
    padding: 0px 4px 0px 4px;
}

.characteristic-table td.center {
    text-align: center;
}

.characteristic-table td {
    vertical-align: baseline;
}

.characteristic-table .optional-characteristic>tr {
    font-style: italic;
}

.characteristic-table .disabled>tr {
    background-color: #eee;
    color: #999;
}

.characteristic-table tr .input-control textarea {
    min-height: initial;
}
.characteristic-table tr .input-control {
    display: flex;
    align-items: center;
}

.characteristic-table .characteristic-property-cell {
    padding: 4px 8px 8px 20px;
    vertical-align: top;
}

.characteristic-table .editor-container-cell {
    padding-left: 20px;
    
}

.characteristic-table .inOut {
    background-color: #d2e8f924;
}
.characteristic-table .conversion {
    background-color: #f7f9d36b;
}

.characteristic-table tbody {
    border: 1px solid gainsboro;
}

.editor-table {
    display: table;
    width: 100%;
}
.editor-table .row{
    display: table-row;
}
.editor-table .cell {
    vertical-align: baseline;
    display: table-cell;
}

.editor-table .input-container {
    display: flex;
    align-items: center;
    min-height: 2rem;
}
.editor-table .input-container>*:first-child {
    flex: 1 1 auto;
}

.tabcontrol2 .frames .frame.flex-container-col,
.tabcontrol2 .frames .frame.flex-container-row {
    display: flex;
    background-color: initial;
}


/* fix: accordion frame inside of a tabcontrol has a padding */

.accordion>.frame {
    padding: initial !important;
}


/* fix: show dropdown arrow for metro ui control */

.input-control input,
.input-control select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    /*appearance: button-arrow-down;*/
}


/* fix: disabled needs to have priority over colors (e.g. primary)*/

.image-button.disabled,
.image-button:disabled {
    background-color: #eaeaea !important;
    color: #bebebe !important;
    cursor: default !important;
    border-color: transparent !important;
}

.image-button.disabled .icon,
.image-button:disabled .icon {
    background-color: #999 !important;
    color: #bebebe !important;
    cursor: default !important;
    border-color: transparent !important;
}

/* improvement: less padding for bullet-list */
.simple-list.replace-list li {
    padding-top: 0px;
    padding-bottom: 0px;
}

textarea.validationError {
    border: 1px solid red;
}

.errorpanel {
    display: none;
    background: red;
    color: white;
    padding: 8px;
    margin: 10px;
}
.errorpanel.validationError {
    display: block
}


.list.device-entry.error {
    border: 1px dashed red !important
}