@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(./../ext/material/fonts/MaterialSymbolsOutlined_28pt-Regular.ttf) format('truetype');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}


body {
    height: 100vh;
}

#adapter-container {
    font-size: 1em;
    /*height: 100%;*/
}

.auto-scroll {
    overflow: auto;
}

.full-width {
    width: 100% !important;
}

.auto-height {
    height: auto;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-container-stretch {
    align-items: stretch;
}

.flex-container-start {
    align-items: flex-start;
}

.flex-grow {
    flex-grow: 1;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-space-between {
    justify-content: space-between
}

.flex-panel {
    padding: 5px;
    margin: 5px;
}

.flex-panel>.caption {
    background: #2086bf;
    margin: -5px -5px 5px -5px;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.bg-white {
    background: whitesmoke;
}

.edit-hint {
    color: #999999;
    font-size: 0.9em;
    font-style: italic;
}

.optional-characteristic {
    font-style: italic;
}

.custom-characteristic {
    background-color: #9ddbff24;
}

.tabcontrol2 .frames .frame.flex-container-col,
.tabcontrol2 .frames .frame.flex-container-row {
    display: flex;
    background-color: initial;
}

/* fix: accordion frame inside of a tabcontrol has a padding */

.accordion>.frame {
    padding: initial !important;
}

/* fix: show dropdown arrow for metro ui control */

.input-control input,
.input-control select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    /*appearance: button-arrow-down;*/
}

/* fix: disabled needs to have priority over colors (e.g. primary)*/

.image-button.disabled,
.image-button:disabled {
    background-color: #eaeaea !important;
    color: #bebebe !important;
    cursor: default !important;
    border-color: transparent !important;
}

.image-button.disabled .icon,
.image-button:disabled .icon {
    background-color: #999 !important;
    color: #bebebe !important;
    cursor: default !important;
    border-color: transparent !important;
}

/* improvement: less padding for bullet-list */

.simple-list.replace-list li {
    padding-top: 0px;
    padding-bottom: 0px;
}

textarea.validationError {
    border: 1px solid red;
}

.errorpanel {
    display: none;
    background: red;
    color: white;
    padding: 8px;
}

.errorpanel.validationError {
    display: block
}

.list.device-entry.error {
    border: 1px dashed red !important
}

/* SELECT DIALOG FIXES */
.select-dialog {
    display: flex !important;
    flex-direction: column;
    height: 100% !important;
}

.select-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 0;
}

.select-footer {
    flex: 0 0 auto;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.select-footer>.btn {
    display: inline-flex;
}

.select-footer>.btn~.btn {
    margin-left: 16px;
}

.select-tree-wrapper {
    padding: 16px 16px 0 16px;
    flex: 1 1 0;
    overflow: auto;
}

.select-tree-wrapper>.dialog-content {
    height: 100%;
}

.dialog-select-member-close {
    text-align: center;
    position: absolute;
    z-index: 1;
    border: 1px solid #124967;
    border-radius: 3px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    background: rgb(206, 53, 44);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/** SELECT DIALOG FIXES END **/


.button-appendix {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-outer-container {
    /*padding: 0 !important;*/
}

.card-inner-container {
    /*padding: 2em;*/
}

.button-appendix > .input-field {
    flex-grow: 1;
}

.icon-button {
    text-align: center;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
}

.icon-button > .material-icons {
    margin: 0 !important;
}

.yahka_characteristic_name {
    font-weight: bold;
    font-size: 1.1rem;
    overflow-wrap: anywhere;
}

.collapsible-body-container {
    padding: 0 !important;
}